.row {
    padding: 0px;
    margin: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

tr:hover {
    background-color: #D6EEEE;
    cursor: pointer;
}

.admin-console {
    width: 90%;
    margin: auto;
}

.btn-add-new {
    text-align: right;
}

.btn-add-new a {
    text-decoration: none;
    background-color: #00CCFF;
    padding: 10px;
    color: white;
    border-radius: 5px;
}