<div class="admin-console row">
    <div class="btn-add-new">
        <a href="/admin/1/add-category">Thêm Mới</a>
    </div>
    <div class="col-md-12">
        <table>
            <tr>
                <th>Tên Danh Mục</th>
                <th>Tình Trạng</th>
                <th>Tương Tác</th>
            </tr>
            <tr>
                <td>Quần Áo</td>
                <td>In Active</td>
                <td><a href="#"><i class="fa fa-pencil fa-x2"></i></a> | <button class="btn btn-danger"><i class="fa fa-trash fa-x2"></i></button></td>
            </tr>
            <tr>
                <td>Giầy Dép</td>
                <td>Active</td>
                <td><a href="#"><i class="fa fa-pencil fa-x2"></i></a> | <button class="btn btn-danger"><i class="fa fa-trash fa-x2"></i></button></td>
            </tr>
            <tr>
                <td>Phụ Kiện</td>
                <td>In Progress</td>
                <td><a href="#"><i class="fa fa-pencil fa-x2"></i></a> | <button class="btn btn-danger"><i class="fa fa-trash fa-x2"></i></button></td>
            </tr>
        </table>
    </div>
</div>