.product-detail {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.photos .main-photo img {
    width: 100%;
    height: 500px;
}

.sub-photos {
    height: 100px;
    width: 100%;
}

.sub-photos ul {
    list-style-type: none;
    margin: 0px;
    padding: 0xp;
}

.sub-photos ul li {
    width: 19%;
    display: inline-block;
    margin-right: 3px;
    cursor: pointer;
}

.sub-photos ul li img {
    width: 100%;
    height: 100%;
}

.sub-photos ul li:hover {
    border: 1px dashed red;
}

.information {
    color: #aaaaaa;
    font-size: 12px;
}

.information table {
    width: 50%;
    margin-top: 30px;
}

.information input[type=number] {
    border: 1px solid #aaaaaa;
    height: 35px;
    outline: none;
}

.information .btn-danger {
    margin-left: 15px;
    margin-top: -4px;
    color: white;
}