<div class="authentication">
    <div class="login-form">
        <h4>Đăng Ký Tài Khoản</h4>
        <br>
        <input type="text" placeholder="Email">
        <br><br>
        <input type="password" placeholder="Mật khẩu">
        <br><br>
        <input type="password" placeholder="Nhập lại mật khẩu">
        <br><br>
        <button class="btn btn-info">ĐĂNG KÝ</button>
        <br><br>
        <span class="alert alert-danger">Vui lòng nhập đầy đủ thông tin</span>
        <br><br>
    </div>
</div>