.authentication {
    width: 70%;
    text-align: center;
    color: #aaaaaa;
    margin: auto;
    margin-top: 50px;
}

.authentication .login-form {
    width: 100%;
}

.login-form input {
    width: 30%;
    height: 40px;
    border: 1px solid #dddddd;
    color: #777777;
    padding-left: 10px;
    outline: none;
}

.login-form button {
    color: white;
}