a {
    text-decoration: none;
    color: #aaaaaa;
}

a:hover {
    color: red;
}

.category {
    border-right: 1px solid #aaaaaa;
    font-size: 12px;
}

.category ul {
    list-style-type: none;
    text-align: left;
    padding: 15px 0px;
}

.category ul li {
    height: 30px;
}