<div class="home">
    <div class="banner">
        <div class="desc">
            <h3>Đồ Chơi Gỗ Chất Lượng</h3>
            <h3>Sản Phẩm Đa Dạng</h3>
            <i>Ưu đãi lên đến 50%</i>
            <br>
            <br>
            <button class="btn btn-warning"><b>Click Mua</b></button>
        </div>
    </div>
    <div class="service row">
        <div class="col-md-3 info">
            <div class="circle"><a href="#"><i class="fa fa-dollar fa-2x"></i></a></div>
            <b>Giá Chỉ Từ 35K</b><br>
            <i>Sản phẩm chất lượng. Giá cả hợp lý. Rẻ nhất thị trường</i><br>
        </div>
        <div class="col-md-3 info">
            <div class="circle"><a href="#"><i class="fa fa-truck fa-2x"></i></a></div>
            <b>Free Ship 150k</b><br>
            <i>Miễn phí vận chuyển nội thành. Giao hàng trong vòng 1h</i><br>
        </div>
        <div class="col-md-3 info">
            <div class="circle"><a href="#"><i class="fa fa-credit-card fa-2x"></i></a></div>
            <b>Trả Góp 0%</b><br>
            <i>Hỗ trợ trả góp với lãi xuất 0% thông qua thẻ tín dụng</i><br>
        </div>
        <div class="col-md-3 info">
            <div class="circle"><a href="#"><i class="fa fa-undo fa-2x"></i></a></div>
            <b>Hoàn Tiền Trong 24h</b><br>
            <i>Đổi trả sản phẩm nhanh chóng. Hoàn tiền trong vòng 24h</i><br>
        </div>
    </div>
    <div class="header-label">
        <i>Sản Phẩm Mới</i>
    </div>
    <div class="new-product row">
        <div class="col-md-6">
            <div class="sm-banner-top row">
                <div class="col-md-6">
                    <div class="sm-banner">
                        <img src="../../../assets/images/product-1.jpg">
                        <div class="overlay">
                            <div class="text"><a href="#">Chi Tiết</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="sm-banner">
                        <img src="../../../assets/images/product-3.jpg">
                        <div class="overlay">
                            <div class="text"><a href="#">Chi Tiết</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg-banner">
                <img src="../../../assets/images/product-2.jpg">
                <div class="overlay">
                    <div class="text"><a href="#">Chi Tiết</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="lg-banner">
                <img src="../../../assets/images/product-5.jpg">
                <div class="overlay">
                    <div class="text"><a href="#">Chi Tiết</a></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="sm-banner">
                        <img src="../../../assets/images/product-6.jpg">
                        <div class="overlay">
                            <div class="text"><a href="#">Chi Tiết</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="sm-banner">
                        <img src="../../../assets/images/product-1.jpg">
                        <div class="overlay">
                            <div class="text"><a href="#">Chi Tiết</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="header-label">
        <i>Sản Phẩm Yêu Thích</i>
    </div>
    <div class="favorite-product">
        <div class="row">
            <div class="col-md-3">
                <div class="product-info">
                    <a href="#"><img src="../../../assets/images/product-1.jpg"></a>
                    <div class="name">Áo Thun 100% Coton</div>
                    <div class="row">
                        <div class="col-md-8">
                            600.000 (VNĐ) - <del>80.0000</del>
                        </div>
                        <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-info">
                    <a href="#"><img src="../../../assets/images/product-2.jpg"></a>
                    <div class="name">Áo Thun 100% Coton</div>
                    <div class="row">
                        <div class="col-md-8">80.0000 (VNĐ)</div>
                        <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-info">
                    <a href="#"><img src="../../../assets/images/product-3.jpg"></a>
                    <div class="name">Áo Thun 100% Coton</div>
                    <div class="row">
                        <div class="col-md-8">80.0000 (VNĐ)</div>
                        <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-info">
                    <a href="#"><img src="../../../assets/images/product-4.jpg"></a>
                    <div class="name">Áo Thun 100% Coton</div>
                    <div class="row">
                        <div class="col-md-8">80.0000 (VNĐ)</div>
                        <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="product-info">
                    <a href="#"><img src="../../../assets/images/product-5.jpg"></a>
                    <div class="name">Áo Thun 100% Coton</div>
                    <div class="row">
                        <div class="col-md-8">80.0000 (VNĐ)</div>
                        <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-info">
                    <a href="#"><img src="../../../assets/images/product-6.jpg"></a>
                    <div class="name">Áo Thun 100% Coton</div>
                    <div class="row">
                        <div class="col-md-8">80.0000 (VNĐ)</div>
                        <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-info">
                    <a href="#"><img src="../../../assets/images/product-3.jpg"></a>
                    <div class="name">Áo Thun 100% Coton</div>
                    <div class="row">
                        <div class="col-md-8">80.0000 (VNĐ)</div>
                        <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-info">
                    <a href="#"><img src="../../../assets/images/product-4.jpg"></a>
                    <div class="name">Áo Thun 100% Coton</div>
                    <div class="row">
                        <div class="col-md-8">80.0000 (VNĐ)</div>
                        <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>