<div class="category">
    <b>QUẢN LÝ SẢN PHẨM</b>
    <ul>
        <li><a [routerLink]="1">Danh Mục Chính</a></li>
        <li><a [routerLink]="1">Danh Mục Sản Phẩm</a></li>
        <li><a [routerLink]="1">Sản Phẩm Quần Áo</a></li>
        <li><a [routerLink]="1">Sản Phẩm Giày Dép</a></li>
        <li><a [routerLink]="1">Sản Phẩm Phụ Kiện</a></li>
    </ul>
</div>
<div class="category">
    <b>QUẢN LÝ TÀI KHOẢN</b>
    <ul>
        <li><a [routerLink]="1">Loại Tài Khoản</a></li>
        <li><a [routerLink]="1">Danh Sách Nhân Viên</a></li>
        <li><a [routerLink]="1">Danh Sách Khách Hàng</a></li>
        <li><a [routerLink]="1">Khách Hàng VIP</a></li>
        <li><a [routerLink]="1">Khách Hàng Thân Thiết</a></li>
    </ul>
</div>
<div class="category">
    <b>QUẢN LÝ KHUYẾN MÃI</b>
    <ul>
        <li><a [routerLink]="1">Danh Sách Khuyến Mãi</a></li>
    </ul>
</div>
<div class="category">
    <b>QUẢN LÝ HÓA ĐƠN</b>
    <ul>
        <li><a [routerLink]="1">Hóa Đơn Trong Ngày</a></li>
        <li><a [routerLink]="1">Hóa Đơn Đã Giao</a></li>
        <li><a [routerLink]="1">Hóa Đơn Chưa Giao</a></li>
        <li><a [routerLink]="1">Tổng Danh Thu</a></li>
    </ul>
</div>