.row {
    margin: 0px;
    padding: 0px;
}

.menu-bar {
    height: 80px;
    margin: auto;
    background-color: #22c3e5;
}

.menu-bar img {
    height: 65px;
    width: 65px;
    border-radius: 5px;
    margin-left: 30%;
}

.menu-bar .col-md-3 {
    padding-top: 7px;
}

.menu-bar .col-md-7 {
    padding-top: 14px;
}

.menu-bar .col-md-2 {
    padding-top: 10px;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-bar li {
    float: left;
}

.menu-bar .col-md-7 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-bar .col-md-7 li a:hover:not(.active) {
    border-bottom: 1px dashed white;
}

.menu-bar .col-md-7 .active {
    border-bottom: 1px dashed white;
}

.menu-bar .col-md-2 li a {
    display: block;
    color: #FFCC00;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.menu-bar .col-md-2 li a:hover:not(.active) {
    color: white;
}

.menu-bar .items {
    background-color: #FFCC00;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    position: absolute;
    margin-left: 3px;
}

.footer {
    height: 200px;
    background-color: black;
    color: white;
}

.email-me {
    height: 250px;
    background-image: url(../assets/images/banner-3.jpg);
    background-size: cover;
}

.email-me .subcribe {
    text-align: center;
    color: white;
    padding-top: 35px;
}

.email-me .subcribe .mb-3 {
    margin-bottom: 1rem !important;
    width: 30%;
    margin: 20px auto;
}

.input-group-text {
    background-color: red;
    border: 1px solid red;
    color: white;
    cursor: pointer;
}

.footer-sec {
    text-align: left;
    width: 90%;
    margin: 40px auto;
}

.footer-sec ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 10px;
}

.footer-sec a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}