<b>{{title}}</b>
<hr>
<div class="adding row">
    <div class="col-md-5">
        <label>Danh Mục</label>
        <br>
        <select [(ngModel)]="selectedCategory">
            <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
        </select>
        <br><br>

        <label>Mã Sản Phẩm</label>
        <br>
        <input type="text" placeholder="Mã Sản Phẩm" [(ngModel)]="productCode">
        <br><br>

        <label>Tên Sản Phẩm</label>
        <br>
        <input type="text" placeholder="Tên Sản Phẩm" [(ngModel)]="productName">
        <br><br>
        
        <label>Số Lượng</label>
        <br>
        <input type="number" [(ngModel)]="productAmount">
        <br><br>

        <label>Giá Nhập</label>
        <br>
        <input type="number" [(ngModel)]="productCostPrice">
        <br><br>

        <label>Giá Bán</label>
        <br>
        <input type="number" [(ngModel)]="productPrice">
        <br><br>

        <label>Tags:</label>
        <br>
        <ul>
            <li *ngFor="let tag of tags"><input type="checkbox" [(ngModel)]="tag.checked">&nbsp;<label>{{tag.title}}</label></li>
        </ul>
        <br>

        <label>Mô tả</label>
        <br>
        <textarea rows="4" cols="40" [(ngModel)]="productDescription"></textarea>
        <br><br>

        <button class="btn btn-info" (click)="createProduct()">THÊM</button>
        <br><br>
        <span class="alert alert-danger" *ngIf="isShowMessage">{{message}}</span>
        <br><br>
    </div>
    <div class="col-md-7">
        <input type="file" multiple (change)="onFileChange($event)">
        <br><br>
        <div class="main-image">
            <img *ngIf="mainImageUrl" [src]="mainImageUrl">
        </div>
        <br>
        <div class="sub-photos">
            <ul>
                <li *ngFor="let url of optionalImages"><img [src]="url"></li>
            </ul>
        </div>
    </div>
</div>