<b>{{title}}</b>
<hr>
<div class="adding row">
    <div class="col-md-5">
        <label>Tên Danh Mục</label>
        <br>
        <select>
            <option value="quanao">Áo Sơ Mi Nam</option>
            <option value="giaydep">Váy Công Sở</option>
            <option value="phukien">Body Suite</option>
            <option value="phukien">Áo Thun</option>
            <option value="phukien">Áo Khoát Da</option>
        </select>
        <br><br>

        <label>Tên Sản Phẩm</label>
        <br>
        <input type="text" placeholder="Tên Sản Phẩm">
        <br><br>

        <label>Giá Nhập</label>
        <br>
        <input type="number">
        <br><br>

        <label>Giá Bán</label>
        <br>
        <input type="number">
        <br><br>

        <label>Số Lượng</label>
        <br>
        <input type="number">
        <br><br>

        <label>Size</label>
        <br>
        <ul>
            <li><input type="radio" name="size" value="s">&nbsp;<label>S</label></li>
            <li><input type="radio" name="size" value="m">&nbsp;<label>M</label></li>
            <li><input type="radio" name="size" value="l">&nbsp;<label>L</label></li>
            <li><input type="radio" name="size" value="xl">&nbsp;<label>XL</label></li>
            <li><input type="radio" name="size" value="xxl">&nbsp;<label>XXL</label></li>
        </ul>
        <br>

        <label>Mô tả</label>
        <br>
        <textarea rows="4" cols="40"></textarea>
        <br><br>

        <button class="btn btn-info">THÊM</button>
        <br><br>
        <span class="alert alert-danger">Tên danh mục đang tồn tại</span>
        <br><br>
    </div>
    <div class="col-md-7">
        <input type="file">
        <br><br>
        <div class="main-image">
            <img src="../../../../assets/images/product-1.jpg">
        </div>
        <br>
        <div class="sub-photos">
            <ul>
                <li><img src="../../../assets/images/product-1.jpg"><br><br><input type="file"></li>
                <li><img src="../../../assets/images/product-1.jpg"><br><br><input type="file"></li>
                <li><img src="../../../assets/images/product-1.jpg"><br><br><input type="file"></li>
                <li><img src="../../../assets/images/product-1.jpg"><br><br><input type="file"></li>
                <li><img src="../../../assets/images/product-1.jpg"><br><br><input type="file"></li>
            </ul>
        </div>
    </div>
</div>