<div class="products">
    <div class="header-label">
        <i>Giầy Dép</i>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-1.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">
                        600.000 (VNĐ) - <del>80.0000</del>
                    </div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-2.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-3.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-4.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-1.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-2.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-3.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-4.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-1.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-2.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-3.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-4.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-1.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-2.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-3.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-info">
                <a href="#"><img src="../../../assets/images/product-4.jpg"></a>
                <div class="name">Áo Thun 100% Coton</div>
                <div class="row">
                    <div class="col-md-8">80.0000 (VNĐ)</div>
                    <div class="col-md-4"><button class="btn btn-info">Mua</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>