<div class="category">
    <b>DANH MỤC SẢN PHẨM</b>
    <ul>
        <li><a [routerLink]="1">Áo Sơ Mi Nam</a></li>
        <li><a [routerLink]="1">Đầm Hoa</a></li>
        <li><a [routerLink]="1">Váy Công Sở</a></li>
        <li><a [routerLink]="1">Quần Jean Nam</a></li>
        <li><a [routerLink]="1">Quần Jean Nữ</a></li>
        <li><a [routerLink]="1">Áo Khoát</a></li>
    </ul>
</div>
<div class="category">
    <b>KÍCH CỞ</b>
    <ul>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Small, (S)</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Middle, (M)</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Large, (L)</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Extra Large, (XL)</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Extra Extra Large, (XXL)</label>
            </div>
        </li>
    </ul>
</div>
<div class="category">
    <b>KHOẢN GIÁ</b>
    <ul>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">35.000 - 100.000</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">101.000 - 500.000</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">501.000 - 1.000.000</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">1.001.000 - 2.000.000</label>
            </div>
        </li>
    </ul>
</div>