.adding {
    width: 90%;
    margin: auto;
}

input[type=text] {
    width: 30%;
    height: 40px;
    border: 1px solid #dddddd;
    color: #777777;
    padding-left: 10px;
    outline: none;
}

.btn-info {
    color: white;
}