<div class="category">
    <b>DANH MỤC SẢN PHẨM</b>
    <ul>
        <li><a [routerLink]="1">Hatchimals Rời</a></li>
        <li><a [routerLink]="1">Hatchimals Combo</a></li>
        <li><a [routerLink]="1">Hatchimals Đặc Biệt</a></li>
        <li><a [routerLink]="1">Hatchimals Các Mùa</a></li>
        <li><a [routerLink]="1">Hatchimals Giỏ Trứng</a></li>
    </ul>
</div>
<div class="category">
    <b>MÀU SẮC</b>
    <ul>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Xanh Lá</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Xanh Dương</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Màu Đỏ</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Màu Vàng</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Hỗn Hợp</label>
            </div>
        </li>
    </ul>
</div>
<div class="category">
    <b>KHOẢN GIÁ</b>
    <ul>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">35.000 - 100.000</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">101.000 - 500.000</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">501.000 - 1.000.000</label>
            </div>
        </li>
        <li>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">1.001.000 - 2.000.000</label>
            </div>
        </li>
    </ul>
</div>